/* Carousel/Swiper Slider */
.swiper {
  width: 100%;
  height: 100%;
}
.one img {
  width: 1450px;
  height: 600px;
  -webkit-mask-image: linear-gradient(black 50%, transparent);
}
/* Advertisment Box/Swiper Slider */

.two {
  width: 1300px;
  height: 225px;
}

/* Advertisment Box */
.adBox__container {
  display: flex;
  flex-wrap: wrap;
  height: 410px;
  width: 310px;
  background-color: white;
  margin: 10px;
  padding-top: 10px;
  color: #111;
}
.adBox__header {
  font-size: 21px;
  line-height: 27px;
  font-family: amazonEmberBold;
  padding: 5px 20px;
}

.adBox__footer {
  padding: 0px 20px;
  font-size: 13px;
  font-family: amazonEmberLight;
  color: blue;
  cursor: pointer;
}

.adBox__footer:hover {
  color: brown;
  text-decoration: underline;
}
.adBoxTwo__body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
  height: 290px;
}
.adBoxOne__body img {
  height: 280px;
  width: 275px;
  object-fit: cover;
}
.adBoxOne__body {
  padding: 0px 18px 0px 18px;
  cursor: pointer;
}
.adBoxTwo__body img {
  margin: 2px 7px;
  width: 135px;
}
.adBoxTwo__body p {
  font-size: 13px;
  font-family: amazonEmberMedium;
  text-decoration: none;
  padding: 0px 0px 10px 8px;
}
.adBoxThree__container {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  width: 100%;
  background-color: white;
  margin: 10px;
  padding-top: 10px;
}
.adBoxThree__container p {
  display: inline;
  font-size: 14px;
  color: blue;
  padding-left: 10px;
  font-family: amazonEmberLight;
}
.adBoxThree__body {
  cursor: pointer;
}
.adBoxThree__body img {
  width: fit-content;
  height: fit-content;
}
/* SignIn Box */
.signIn__box__container {
  width: 312px;
  margin: 0px 10px;
  padding-top: 11px;
}
.signIn__box_main {
  background-color: white;
  height: 140px;
  padding-top: 10px;
  font-family: amazonEmberBold;
}
.signIn__box_ad {
  background-color: white;
  height: 225px;
  margin-top: 22px;
}
.signIn__box__btn {
  background: #ffd814;
  border-radius: 5px;
  width: 100%;
  height: 30px;
  border: 0px;
  margin-top: 25px;
  cursor: pointer;
  font-family: amazonEmberMedium;
}
.signIn__box__btn:hover {
  background: #e6c003;
}
.signIn__box_ad img {
  width: 308px;
  height: 220px;
  padding: 2px;
  object-fit: cover;
}
.signIn__box_main img {
  width: 308px;
  height: 151px;
  position: relative;
  bottom: 8px;
  right: 18px;
  object-fit: cover;
}
.adBoxFour__container {
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 252px;
  width: 100%;
}
.adBoxFour__container img {
  width: 925px;
  height: 250px;
  cursor: pointer;
}
